node_modules/
npm-debug.log
src/apps/*
!src/apps/demo/
!src/apps/default/
!src/apps/subway/
!src/apps/lab/
!src/apps/pbr/
!src/apps/gizmos/
!src/apps/ssgi/
!src/apps/snake/
dist/*
!dist/demo
!dist/default
!dist/subway
!dist/lab
!dist/pbr
!dist/gizmos
!dist/ssgi
!dist/snake
.DS_Store
